body {
  background-color: rgb(241, 255, 241);
}

@font-face {
  font-family: LexendDeca;
  src: url(Lexend_Deca/LexendDeca-VariableFont_wght.ttf);
}

div {
  font-family: LexendDeca;
}

a {
  color: rgb(237, 24, 183);
}

a:hover {
  color: rgb(237, 184, 24);
}

a.active {
  color: rgb(0, 163, 213);
}

a.top {
  margin-left: 10px;
}

.clear {
  clear: both;
}

/* HEADER */
header {
  padding: 20px 0;
  border-bottom: 1px solid rgb(34, 58, 44);
  margin-bottom: 20px;
}

#title {
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
}

header h1 {
  font-size: 4em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

nav {
  text-align: center;
}

header ul li{
  display: inline;
  font-size: 1.2em;
}
/* END HEADER */

/* BODY CONTENT */

#content {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
  border-bottom: 1px solid black;
}

.thumbnail {
  float: left;
  max-width: 50%;
  margin-right: 20px;
  margin-bottom: 20px;
}

#quote {
  font-size: 1.6em;
  text-align: center;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 480px) {
  .thumbnail {
    max-width: 100%;
  }
}

.thumbnail img {
  width: 100%;
}

.text {
  padding-bottom: 20px;
}

.text p {
  font-size: 1.2em;
  line-height: 110%;
  text-indent: 2em;
}

.text h2 {
  font-size: 1.6em;
  text-decoration: underline;
}

strong {
  font-weight: bold;
}

.pricing {
  font-size: 1.2em;
}

footer {
  clear: both;
}
/* END BODY CONTENT */

#footer {
  margin: 20px auto;
  max-width: 800px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

